
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  width: 28%;
  margin: auto;
  margin-top: 8%;
}
@media only screen and (max-width: 600px) {
  .home {
    width: 100%;
    margin-top: 28%;
  }
}

.registration{
  width: 80%;
  margin: auto;
  margin-top: 8%;
}

@media only screen and (max-width: 600px) {
  .registration{
    width: 100%;
    margin-top: 28%;
  }
  
}


.income-layout {
  margin-top: 8%;
}
@media only screen and (max-width: 600px) {
  .income-layout {
    margin-top: 28%;
  }
}


.layout-container {
   margin-top: 4%;
}

.panel {
  padding: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.custom-toast {
  background-color: aquamarine;
  width: 50px;
}

.custom-container{
  margin: 0 5% 0 5%;
}

.download-button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.download-button:hover {
  background-color: RoyalBlue;
}

.home-image{
  width: 100%;
  height: 100vh;
  filter: brightness(35%); 
}

.home-container{
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  opacity: .25;
}

.members-section {
  max-height: 472px;
  overflow-y: auto;
  padding: 2%;
}