body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  width: 25%;
  margin: auto;
  margin-top: 5%;
}
@media only screen and (max-width: 600px) {
  .home {
    width: 100%;
    margin-top: 20%;
    padding: 3%;
  }
}



.panel {
  padding: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}